# Job Salary Prediction

**Table of contents**
- [Introduction:Business Problem](#introduction)
- [Data](#data)
- [Methodology](#methodology)
- [Analysis](#analysis)
- [Results](#results)
- [Conclusion](#conclusion)

## Introduction:Business Problem <a name="introduction"></a>

as an aspiring Data scientist, i was curious in what salary i would expect on average at an entry level position.I then began to think for other form of app development and programming, what the salaries would look like, even beyond 1 year experience.As i was deciding to learn either Tensorflow or pytorch for Deep learning, i wandered witch frame work was more popular with employers. the goal of this project is to help new programmers and developers to estimate potential salaries based on experince, frameworks and other features.

we are using stack overflow anual survey data, as it provides a large variety in our analysis.

## Data <a name="data"></a>

**According to the project definition, these are the properties we are looking for in our data:**

In [1]:
# Data manipulation libs #
import numpy as np
import pandas as pd

In [2]:
# visulization libs #
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
stack_overflow_18 = pd.read_csv("survey_results_public.csv")
stack_overflow_18.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,Exercise,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy
0,1,Yes,No,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
2,4,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,...,I don't typically exercise,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,...,3 - 4 times per week,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy

In [4]:
stack_overflow_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98855 entries, 0 to 98854
Columns: 129 entries, Respondent to SurveyEasy
dtypes: float64(41), int64(1), object(87)
memory usage: 97.3+ MB

In [5]:
stack_overflow_18.describe()

,Respondent,AssessJob1,AssessJob2,AssessJob3,AssessJob4,AssessJob5,AssessJob6,AssessJob7,AssessJob8,AssessJob9,...,JobEmailPriorities6,JobEmailPriorities7,ConvertedSalary,AdsPriorities1,AdsPriorities2,AdsPriorities3,AdsPriorities4,AdsPriorities5,AdsPriorities6,AdsPriorities7
count,98855.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,...,46213.00000,46213.000000,4.770200e+04,60479.000000,60479.000000,60479.000000,60479.000000,60479.000000,60479.000000,60479.000000
mean,50822.971635,6.397089,6.673524,5.906875,4.065791,3.953243,4.407196,5.673181,4.225200,7.640009,...,4.97425,4.836388,9.578086e+04,2.726880,3.805784,3.340945,3.782470,4.383604,5.138809,4.821459
std,29321.650410,2.788428,2.531202,2.642734,2.541196,2.520499,2.502069,2.923998,2.507411,2.407457,...,1.86063,1.659844,2.023482e+05,1.881078,1.821323,1.673485,1.844864,1.931746,1.853249,1.874895
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.00000,1.000000,0.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,25443.500000,4.000000,5.000000,4.000000,2.000000,2.000000,2.000000,3.000000,2.000000,6.000000,...,4.00000,4.000000,2.384400e+04,1.000000,2.000000,2.000000,2.000000,3.000000,4.000000,3.000000
50%,50823.000000,7.000000,7.000000,6.000000,4.000000,3.000000,4.000000,6.000000,4.000000,8.000000,...,5.00000,5.000000,5.507500e+04,2.000000,4.000000,3.000000,4.000000,5.000000,6.000000,5.000000
75%,76219.500000,9.000000,9.000000,8.000000,6.000000,6.000000,6.000000,8.000000,6.000000,10.000000,...,7.00000,6.000000,9.300000e+04,4.000000,5.000000,5.000000,5.000000,6.000000,7.000000,7.000000
max,101592.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,7.00000,7.000000,2.000000e+06,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000

In [8]:
stack_overflow_18.columns

Index(['Respondent', 'Hobby', 'OpenSource', 'Country', 'Student', 'Employment',
       'FormalEducation', 'UndergradMajor', 'CompanySize', 'DevType',
       ...
       'Exercise', 'Gender', 'SexualOrientation', 'EducationParents',
       'RaceEthnicity', 'Age', 'Dependents', 'MilitaryUS', 'SurveyTooLong',
       'SurveyEasy'],
      dtype='object', length=129)

In [10]:
for col in stack_overflow_18.columns:
    print("\n",col)

 Respondent

 Hobby

 OpenSource

 Country

 Student

 Employment

 FormalEducation

 UndergradMajor

 CompanySize

 DevType

 YearsCoding

 YearsCodingProf

 JobSatisfaction

 CareerSatisfaction

 HopeFiveYears

 JobSearchStatus

 LastNewJob

 AssessJob1

 AssessJob2

 AssessJob3

 AssessJob4

 AssessJob5

 AssessJob6

 AssessJob7

 AssessJob8

 AssessJob9

 AssessJob10

 AssessBenefits1

 AssessBenefits2

 AssessBenefits3

 AssessBenefits4

 AssessBenefits5

 AssessBenefits6

 AssessBenefits7

 AssessBenefits8

 AssessBenefits9

 AssessBenefits10

 AssessBenefits11

 JobContactPriorities1

 JobContactPriorities2

 JobContactPriorities3

 JobContactPriorities4

 JobContactPriorities5

 JobEmailPriorities1

 JobEmailPriorities2

 JobEmailPriorities3

 JobEmailPriorities4

 JobEmailPriorities5

 JobEmailPriorities6

 JobEmailPriorities7

 UpdateCV

 Currency

 Salary

 SalaryType

 ConvertedSalary

 CurrencySymbol

 CommunicationTools

 TimeFullyProductive

 EducationTypes

 SelfTaughtTypes

 TimeAfterBootcamp

 HackathonReasons

 AgreeDisagree1

 AgreeDisagree2

 AgreeDisagree3

 LanguageWorkedWith

 LanguageDesireNextYear

 DatabaseWorkedWith

 DatabaseDesireNextYear

 PlatformWorkedWith

 PlatformDesireNextYear

 FrameworkWorkedWith

 FrameworkDesireNextYear

 IDE

 OperatingSystem

 NumberMonitors

 Methodology

 VersionControl

 CheckInCode

 AdBlocker

 AdBlockerDisable

 AdBlockerReasons

 AdsAgreeDisagree1

 AdsAgreeDisagree2

 AdsAgreeDisagree3

 AdsActions

 AdsPriorities1

 AdsPriorities2

 AdsPriorities3

 AdsPriorities4

 AdsPriorities5

 AdsPriorities6

 AdsPriorities7

 AIDangerous

 AIInteresting

 AIResponsible

 AIFuture

 EthicsChoice

 EthicsReport

 EthicsResponsible

 EthicalImplications

 StackOverflowRecommend

 StackOverflowVisit

 StackOverflowHasAccount

 StackOverflowParticipate

 StackOverflowJobs

 StackOverflowDevStory

 StackOverflowJobsRecommend

 StackOverflowConsiderMember

 HypotheticalTools1

 HypotheticalTools2

 HypotheticalTools3

 HypotheticalTools4

 HypotheticalTools5

 WakeTime

 HoursComputer

 HoursOutside

 SkipMeals

 ErgonomicDevices

 Exercise

 Gender

 SexualOrientation

 EducationParents

 RaceEthnicity

 Age

 Dependents

 MilitaryUS

 SurveyTooLong

 SurveyEasy

In [11]:
survey_res_schem = pd.read_csv("survey_results_schema.csv")
survey_res_schem.head()

       Column                                       QuestionText
0  Respondent  Randomized respondent ID number (not in order ...
1       Hobby                            Do you code as a hobby?
2  OpenSource         Do you contribute to open source projects?
3     Country          In which country do you currently reside?
4     Student  Are you currently enrolled in a formal, degree...

In [12]:
survey_res_schem

            Column                                       QuestionText
0       Respondent  Randomized respondent ID number (not in order ...
1            Hobby                            Do you code as a hobby?
2       OpenSource         Do you contribute to open source projects?
3          Country          In which country do you currently reside?
4          Student  Are you currently enrolled in a formal, degree...
..             ...                                                ...
124            Age  What is your age? If you prefer not to answer,...
125     Dependents  Do you have any children or other dependents t...
126     MilitaryUS  Are you currently serving or have you ever ser...
127  SurveyTooLong  How do you feel about the length of the survey...
128     SurveyEasy  How easy or difficult was this survey to compl...

[129 rows x 2 columns]

In [53]:
stack_overflow_18[["Age"]].head()

                 Age
0  25 - 34 years old
1  35 - 44 years old
2                NaN
3  35 - 44 years old
4  18 - 24 years old

In [54]:
# List of columns we are interested in for salary analysis #
salaries_cols = ["Country","Student","Employment","FormalEducation","UndergradMajor","CompanySize","DevType","YearsCoding","YearsCodingProf","EducationTypes","SelfTaughtTypes","LanguageWorkedWith","Salary","LanguageDesireNextYear","FrameworkWorkedWith","FrameworkDesireNextYear","OperatingSystem","Age","ConvertedSalary"]

In [55]:
stack_overflow_18[salaries_cols].head()

,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,3-5 years,3-5 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,JavaScript;Python;HTML;CSS,NaN,JavaScript;Python;HTML;CSS,Django;React,Django;React,Linux-based,25 - 34 years old,NaN
1,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,30 or more years,18-20 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,JavaScript;Python;Bash/Shell,51000,Go;Python,Django,React,Linux-based,35 - 44 years old,70841.0
2,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,24-26 years,6-8 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,18-20 years,12-14 years,Completed an industry certification program (e...,The official documentation and/or standards fo...,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell,NaN,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell,NaN,Angular;.NET Core;React,Windows,35 - 44 years old,NaN
4,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,6-8 years,0-2 years,Taken a part-time in-person course in programm...,The official documentation and/or standards fo...,C;C++;Java;Matlab;R;SQL;Bash/Shell,260000,Assembly;C;C++;Matlab;SQL;Bash/Shell,NaN,NaN,Windows,18 - 24 years old,21426.0

In [56]:
salaries = stack_overflow_18[salaries_cols]
salaries.head()

,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,3-5 years,3-5 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,JavaScript;Python;HTML;CSS,NaN,JavaScript;Python;HTML;CSS,Django;React,Django;React,Linux-based,25 - 34 years old,NaN
1,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,30 or more years,18-20 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,JavaScript;Python;Bash/Shell,51000,Go;Python,Django,React,Linux-based,35 - 44 years old,70841.0
2,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,24-26 years,6-8 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,18-20 years,12-14 years,Completed an industry certification program (e...,The official documentation and/or standards fo...,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell,NaN,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell,NaN,Angular;.NET Core;React,Windows,35 - 44 years old,NaN
4,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,6-8 years,0-2 years,Taken a part-time in-person course in programm...,The official documentation and/or standards fo...,C;C++;Java;Matlab;R;SQL;Bash/Shell,260000,Assembly;C;C++;Matlab;SQL;Bash/Shell,NaN,NaN,Windows,18 - 24 years old,21426.0

In [57]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98855 entries, 0 to 98854
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  98443 non-null  object
 1   Student                  94901 non-null  object
 2   Employment               95321 non-null  object
 3   FormalEducation          94703 non-null  object
 4   UndergradMajor           79036 non-null  object
 5   CompanySize              71531 non-null  object
 6   DevType                  92098 non-null  object
 7   YearsCoding              93835 non-null  object
 8   YearsCodingProf          77903 non-null  object
 9   EducationTypes           67960 non-null  object
 10  SelfTaughtTypes          57354 non-null  object
 11  LanguageWorkedWith       78334 non-null  object
 12  Salary                   50578 non-null  object
 13  LanguageDesireNextYear   73244 non-null  object
 14  FrameworkWorkedWith      51620 non-null  object
 15  FrameworkDesireNextYear  55218 non-null  object
 16  OperatingSystem          76179 non-null  object
 17  Age                      64574 non-null  object
 18  ConvertedSalary          47702 non-null  float64
dtypes: float64(1), object(18)
memory usage: 14.3+ MB

**Turn the strings into numerical values**

## Methodology <a name="methodology"></a>

Since we want to make a salary prediction, we will try two models, Linear Regression model and a lasso regression model

## Analysis <a name="analysis"></a>

## Results <a name="results"></a>

## Conclusion <a name="conclusion"></a>